<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web development">
    <meta name="author" content="Web development">
    <link href="./css/alexcp.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<style>
	#header{ overflow:hidden;}
	#header .span2{ float:left; line-height:28px;}
	#header .span2 a{ overflow:hidden; font-size:50px;}
	#header .nav{ float:right;}
	</style>
  </head>
  <body>
    <div id="wrap">
    <div class="container">

      <div id="header" class="row">
        <div class="span2">
          <a href="{{site.baseurl}}">
            J-blog
          </a>
        </div>
        <ul class="nav nav-pills">
          <li><a href="{{site.baseurl}}">Blog</a></li>
          <li><a href="{{site.baseurl}}/psd2css.html">PSD2CSS</a></li>
          <li><a href="https://github.com/wanxianjia/PSD2HTML">PSD2HTML</a></li>
        </ul>
     
      </div>
		<hr style="margin-left:-30px;" />

      <div class="row">
        {{content}}
      </div>

    </div>
    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div id="row">
          <p class="muted credit">Reach me by <a href="mailto:okwxj@qq.com">E-Mail</a>, Find me on <a href="https://github.com/wanxianjia">Github</a> or Follow me on <a href="http://weibo.com/okwxj">Weibo</a> 
           &#169; Alexandre Croteau-Pothier 2013</p>
        </div>
      </div>
    </div>

  </body>
  <script src="./js/jquery-1.7.2.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</html>
